{%extends "index.html"%}
{%block content%}
<div id="calendar" class="module">

	<div class="changeCalendar">
		<span class="input ml-auto"><input id="dataCalendar" type="date" value="{{nowDate}}"></span>
	</div>
	<div id="wrap">
		<table id="tableCalendar" class="table table-bordered table-fixed table-sm table-hover">
			<thead id="table-header">
				<tr class="table-header-tr">
					<th scope="col" style="background: bisque;">Часы</th>
					{%for room in rooms%}
					<th scope="col" style="background: {{room.color}}; color: {{room.font}}">{{room.name_room}}</th>
					{%endfor%}
				</tr>
			</thead>
			<tbody class="table-calendar-content">
				{%for shift in shiftstart%}
				<tr id="{{shift.hour}}-{{shift.minute}}">
					<td>{{shift}}</td>{%for room in rooms%}<td
						class="{{shift.hour}}-{{shift.minute}}-{{room.rid}} tdClicked"></td>{%endfor%}
				</tr>
				{%endfor%}
			</tbody>
		</table>
		<hr id="timeline">
	</div>
</div>
{%endblock%}