#table-weekends{
	display: none;
}
#adminsmenu{
  position:fixed;
  top: 70px;
  width: 50%;
  z-index: 3;
  background: #fff;
  height: 55px;
  }
#adminsTabsMenu{
  margin-top:5px;
  margin-left: 20px;
  font-size:15px;
  padding:0px;
  list-style:none;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
  border-image: linear-gradient(21deg, #ab3326, darkorange);
}
#adminsTabsMenu a{
  text-decoration:none;
  color: #000;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}
#adminsTabsMenu a.active{
    color: #fff;
}
.adminsSelector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab3326', endColorstr='darkorange',GradientType=1 );
}
#content-modalAddingOrder .modal-header{
    background: blue;
    color: white;
}
.adminsTab{
  position: relative;
  margin-top: 55px;
}
.adminsTab th{
   position: sticky;
  z-index: 1;
  top: 125px;
  background: #0000FF;
}
#admins-tools{
    position: fixed;
    top: 75px;
    right: 20px;
    z-index: 5;
    width: 55%;
}
.groupHidden{
    display: none;
}
.topWrapper{
    top: 120px!important;
}