#table{
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
  height: 1470px;
}
.changeCalendar{
    position: fixed;
    left: 640px;
    display: block;
    z-index: 9999;
    top: 12px;
}
#tableCalendar{
    font-color: white;
    margin-top:0px;
    position: absolute;
}
#tableCalendar th:not(:first-child){
    color: #fff;
}
#tableCalendar th {
  position: sticky;
  z-index: 1;
  top: 65px;
  }
#tHeader{
  font-weight: 700;
  display: flex;
  font-family: 'Comfortaa';
  font-weight: 700;
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 30px;
  background: linear-gradient(21deg, #ab3326, darkorange);
  color: #fff;
}
#tHeader .t_d{
   border-right: 1px solid #fff;
}
.t_r_odd, .t_r_even{
  width: 100%;
  height: 30px;
  display: flex;
}

.t_r_even{
  background-color: rgba(255,255,255,0.3);
}
.t_d{
  display: flex;
  height: 30px;
}
.t_r_odd .t_d{
  border-right: 1px solid rgba(255,255,255,0.3);
}
.t_r_even .t_d{
   border-right: 1px solid MistyRose;
}
.t_d p{
  padding: 0;
  margin: auto auto;
}
.table_content
{
  position: absolute;
  top: 30px;
  width: 100%;
}
#timeline
{
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
  height: 0px;
  width: 100%;
  z-index: 99999;
  border-bottom:  1px solid #1E90FF;
}
.table_content
{
   background: -webkit-linear-gradient(right, #E6E6FA, MistyRose);
    background: linear-gradient(to left, #E6E6FA, MistyRose);
}

.event
{
  position: absolute;
  top: 0px;
  width: 0px;
  background: #800000;
  z-index: 1;
  display: flex;
  color: #fff;
}

.Client_p
{

  margin: 10% auto ;
}
#editing_module
{
  display: flex;
  position: fixed;
  top: 210px;
  right: 3%;
  width: 300px;

  background: #800000;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}
#editing_module a
{
  margin: 20px auto;
  text-decoration: none;
  color: #800000;
  background: #fff;
  padding:  10px 40px;
}
#editing_module input
{
  text-align: center;
}
.tdClicked{
    font-size:12px;
}
