#session-nonactive{
	display: none;
}

#table-registry, #session-nonactive{
    top: 135px;
    position: relative;

}
.medium{
    display: flex;
}
#table-registry td p, #session-nonactive td p{
    margin: auto;
    margin-top: 5px;
}
#table-registry th, #session-nonactive th{
  position: sticky;
  z-index: 1;
  top: 204px;
  background: #0000FF;
  }

.registry-buttonsOfType{
    position: absolute;
    left: 37.05%;
    top: 65px;
    width: 25%;
    height: 35px;
    display: flex;
    margin: 0 -5px;
}
.d21{
    color: darkorange;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

#add_new_service_window select{
    width:100%;
    height:45px;
    background: linear-gradient(21deg, #0000FF, #7FFFD4);
  height: 40px;
  width: 100%;
  text-align-last: center;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#add_new_service_window
{
  display: flex;
  position: fixed;
  top: 410px;
  right: 26%;
  width: 300px;
  height:80px;
  background: white;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}
#add_new_service{
    color: darkorange;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    margin: auto;
}



.payment_block{
    position: absolute;
    display: flex;
    height: 110px;
    width: 54%;
    margin: 15px 35px;
    font-family: Lato, Arial;
}
.inputs{
    width: 350px;
    display:flex;
}
.payment_block-sum, .payment_block-change{
    background: #fff;
    padding: 0;
    text-align: center;
    border-radius: 9999em;
    border: 3px solid blue;
    font-size: 24px;
}
.incomes{
    margin: 0 7px;

  font-family:'Roboto Slab normal';
}
.incomes p{
    height: 40px;
}
#payment_block-sum span{
    background: #fff;
    width: 100%;
    height: 100%;
}
.registry-Type_buttons{
    position: absolute;
    left: 60%;
    top: 15px;
    width: 40%;
    height: 35px;
    display: flex;
    margin: 0 -5px;
    font-family: 'Roboto Slab normal';
}

.buttons{
    display: flex;
    height: 110px;
    width: 350px;
    margin-left: 25px;
}

.buttons button{
    font-family: 'Roboto Slab normal';
    font-weight: 800;
    width: 100px;
    height: 45px;
    }
#session_reset{
 position: absolute;
    z-index: 9;
    top: 55px;
    width: 100px;
    height: 45px;
    left: 596px;
    font-weight:800;
    white-space: pre-line;
    font-family: 'Roboto Slab normal';
    padding: 7px;
    font-size: 17px;
    background-color: #6c757d;
}
.buttons button:active, .buttons button:focus {
  outline: none;
}
.buttons button::-moz-focus-inner {
  border: 0;
}
.income{
  width:100%;
}
.incomep{
  width: 120px;
}

.addVisitor
{
  position: absolute;
  margin-top: 15px;
  right: .5%;
  width: 27%;
  height: 180px;
}
.addVisitor .select {
  width: 49%;
}
.addVisitor-select-buttons{
  width: 100%;
  height: 35px;
  display: flex;
  margin-left: 15%;
}
#quantity-input{
  margin: 10px auto;
}
#new-session{
  display:flex;
}
#add_new_visitors_button{
  margin: 5px auto;
  width: 30%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border-color: #fff;
  font-family:'Roboto Slab normal';
}
#add_new_visitors_button button:active, #add_new_visitors_button button:focus {
  outline: none;
}
#add_new_visitors_button button::-moz-focus-inner {
  border: 0;
}
.topModule{
  top:65px;
  position: fixed;
  width: 100%;
  height: 140px;
  z-index: 2;
  background: white;
}

.deposit{
    display: flex;
    position: absolute;
    width: 29%;
    height: 40px;
    margin: 15px 2.5%;
    left: 27%;
    top: 28%;
}
.incomepDeposit{
    width: 99px;
}
#session_prepay{
    font-family: 'Roboto Slab normal';
    font-weight: 800;
}

.depositCheck{
    width: 21px;
    height: 21px;
    margin-top: 11px;
}
.deposit .incomet{
    height: 40px;
    font-family: 'Roboto Slab normal';
}
#helpAdminModal{
    top: 100px;
}
#wd_id p{
    margin:auto auto;
    font-size: 14px;
}


#addingSessionABtn{
  position: absolute;
    z-index: 9;
    top: 55px;
    width: 100px;
    height: 45px;
    background: green;
    white-space: pre-line;
    font-family: 'Roboto Slab normal';
    font-weight: 800;
    padding: 7px;
}
#content-modalEditSession{
    top:50px;
}
#content-modalEditSession .modal-header{
    background: blue;
    color: white;
}
#content-modalAddingSession{
    top:50px;
    height: 1350px;
}
#content-modalAddingSession .modal-header{
    background: blue;
    color: white;
}
.goldTr{
    cursor: pointer;
    background: gold;
}
.simpleTr{
    background:#e0eaff;
    cursor: pointer;
}
.clientTh{
  width: 15%;
  text-align: left;
}
.whiteRowed tr{
  background: #fff;
}
.whiteRowed{
  display: none;
}
@media screen and (min-width: 768px){
  #logoimg{
    width: 50%;
    height: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 768px){
  #logoimg{
    width: 80%;
    height: 100%;
    margin: auto auto;
  }
}
#session_delete{
    background: red;
}
#session_print{
    background: linear-gradient(21deg, #0000FF, #7FFFD4);
    position: absolute;
    left: 485px;
    z-index: 9;
    font-family: 'Roboto Slab normal';
    font-weight: 800;
    width: 100px;
    top: 55px;
    height: 45px;
    white-space: pre-line;
    font-family: 'Roboto Slab normal';
    padding: 7px;
}
#sessionsonoffmenu{
  position:fixed;
  top: 130px;
  z-index: 3;
  height: 55px;
  right: 10px;
  }
#sessionsonoffTabsMenu{
  margin-top:5px;
  margin-left: 20px;
  font-size:15px;
  padding:0px;
  list-style:none;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
  border-image: linear-gradient(21deg, #ab3326, darkorange);
}
#sessionsonoffTabsMenu a{
  text-decoration:none;
  color: #000;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}
#sessionsonoffTabsMenu a.active{
    color: #fff;
}
.sessionsonoffSelector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab3326', endColorstr='darkorange',GradientType=1 );
}
