{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dsssbacsm,.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/registry.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body class="flex-div">
	<img id='logoimg' class="clientPageItem active" src="{% static 'img/logo.jpeg' %}" alt="">
	<table  class="table table-sm table-bordered clientPageItem whiteRowed" >
		<tbody>
			<tr>
				<th scope="row" class="clientTh">Комната:</th>
				<td class="clientRoom"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Тариф:</th>
				<td class="clientTariff"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Кол-во человек:</th>
				<td class="clientCount"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Скидка:</th>
				<td class="clientDiscont"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Платные услуги:</th>
				<td class="clientServices"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Депозит:</th>
				<td class="clientDeposit"></td>
			</tr>
		</tbody>
		
	</table>
	<table  class="table table-sm table-bordered clientPageItem whiteRowed" >
		<tbody>
			<tr>
				<th scope="row" class="clientTh">Комната:</th>
				<td class="clientRoom"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Тариф:</th>
				<td class="clientTariff"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Кол-во человек:</th>
				<td class="clientCount"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Платные услуги:</th>
				<td class="clientServices"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Депозит:</th>
				<td class="clientDeposit"></td>
			</tr>
			<tr>
				<th scope="row" class="clientTh">Сумма:</th>
				<td class="clientSum"></td>
			</tr>
		</tbody>
		
	</table>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js/clickedTableCheckbox.js' %}"></script>
	<script src="{% static 'js/holyScript.js' %}"></script>

</body>
</html>