{%extends "index.html"%}
{% load staticfiles %}
{% load bootstrap3 %}

{%block content%}
		<div id="registry" class="module active">
			<div class="modal fade" id="modalAddingSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content" id="content-modalAddingSession">
					  <div class="modal-header">
						<h5 class="modal-title ml-auto" id="exampleModalLongTitle">Новые сессии</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
							<form method="POST" class="booking-form">
								{% csrf_token %}
								{% bootstrap_form_errors formNewSession error_types='all' %}
								{% bootstrap_form formNewSession%}
								{% buttons %}
								<div id="buttonsSessionForms">
								<button type="submit" class="btn btn-primary mr-1">
								  {% bootstrap_icon "star" %} Сохранить
								</button>
								<button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Закрыть</button>
								</div>
							  {% endbuttons %}
							</form>
					  </div>

					</div>
				  </div>
				</div>
			<div class="modal fade" id="modalEditSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content" id="content-modalEditSession">
					  <div class="modal-header">
						<h5 class="modal-title ml-auto" id="exampleModalLongTitle">Изменение сессии</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
							<form method="POST" class="booking-form" action="/session/-1/edit/">
								{% csrf_token %}
								{% bootstrap_form formEditSession%}
								{% buttons %}
								<div id="buttonsSessionForms">
								<button type="submit" class="btn btn-primary mr-1" id="EditButtonSession">
								  {% bootstrap_icon "star" %} Сохранить
								</button>
									<button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Закрыть</button>
								</div>
							  {% endbuttons %}
							</form>
					  </div>

					</div>
				  </div>
				</div>
			<div class="topModule">
				<form class="roomFilter" method="post" action="/session/filter-session/">
					<div class="registry-Type_buttons">
						<div class="select-box">
							<select id="registry-buttonsOfType-Room">
								<option value="hide">Все комнаты</option>
								{%for room in filterRoom%}
								<option value={{room.name_room}} >{{room.name_room}}</option>
								{%endfor%}
							</select>
						</div>
						<div class="select-box ml-3">
							<select id="registry-buttonsOfType-Group">
								<option value="hide">Все компании</option>
								{%for group in filterGroup%}
								<option value={{group}}>{{group}}</option>
								{%endfor%}
							</select>
						</div>
						<div class="select-box ml-3">
							<select id="registry-buttonsOfType-SID">
								<option value="hide">Все посетители</option>
								{%for sid in filterSID%}
								<option value={{sid}}>{{sid}}</option>
								{%endfor%}
							</select>
						</div>
					</div>
				</form>

				<div id="sessionsonoffmenu">
					<nav id="sessionsonoffTabsMenu">
						<div class="sessionsonoffSelector gradiented"></div>
						<a href="#" class="sessionsonoff_tab active" >Активные</a>
<!--						<a href="#" class="sessionsonoff_tab" >Оплаченные</a>-->
					</nav>
				  </div>
                <div class="payment_block">
				<div class="inputs">
					<div class="incomes">
						<p class="incomet" > СУММА </p>
						<p class="incomet" > СДАЧА </p>
					</div>
					<div class="incomes ">
						<p class="incomep payment_block-sum"> 0 </p>
						<p class="incomep payment_block-change"> 0 </p>
					</div>
					<div class="incomes ">
						<p class="incomep">
							<span class="input">
								<input class="income" id="cardIncome" type="number" placeholder="карта">
								<span></span>
							</span>
						</p>

						<p class="incomep">
							<span class="input">
								<input class="income" id="cashIncome" type="number" placeholder="наличные">
								<span></span>
							</span>
						</p>
					</div>
				</div>
				<div class="buttons">
					{% csrf_token %}
					<button id="session_stop" class="btn openNameModalbtn gradiented" type="submit"> Стоп </button>
					{% csrf_token %}
					<button id="session_pay" class="btn openNameModalbtn gradiented" type="submit"> Оплата </button>
					{% csrf_token %}
					<button id="session_delete" class="btn openNameModalbtn gradiented" type="submit"> Удалить</button>
					<a id="addingSessionABtn" href="#modalAddingSession" class="btn btn-primary" data-toggle="modal">Добавить</a>
					{% csrf_token %}
					<button id="session_print" class="btn openNameModalbtn" type="submit"> Печать</button>
					<button id="session_reset" class="btn openNameModalbtn" type="submit"> Очистить</button>
				</div>
			</div>

		</div>


			<div id = "sessionsonoffTabs">
            <table id="table-registry" class="table table-bordered table-fixed table-sm sessionsonoffTab active">
				<thead class="table-header">
					<tr>
					  <th scope="col"><input title='Выделить все'  id='chooseAllinSes' type="checkbox"></th>
					  <th scope="col">Комната</th>
					  <th scope="col" title="Компания">К</th>
					  <th scope="col">Тариф</th>
	                  <th scope="col">Время начала</th>
					  <th scope="col" title="Платные услуги">ПлУ</th>
					  <th scope="col" title="Бесплатные услуги">БесУ</th>
				      <th scope="col">Комментарий</th>
					  <th scope="col" title="Сумма">$</th>
					</tr>
				</thead>
				<tbody id="wd_id">
					{% for record in sessions %}
					<tr class="table-registry-tr simpleTr" id="{{record.SID}}">
						<td class="SID"><p>{{record.SID}}</p></td>
						<td><p class="registryRoomP">{{ record.room.name_room}}</p></td>
						<td><p>{{record.company}}</p></td>
						<td><p class="registryTariffP">{{record.tariff.name_tariff}}</p></td>
						<td><p>{{record.start_dt}}</p></td>
						<td><p class="registryAddServsP" title="{{record.fullprice}} руб.">{{ record.fullservs }}</p></td>
						<td><p>{{ record.comservs }}</p></td>
						<td class="COM"><p>{{record.comment.text}}</p></td>
						<td class="SUM"><p>{{record.sum_session}} </p></td>
					</tr>
					 {% endfor %}
				</tbody>
			</table>
			<table id="session-nonactive" class="table table-bordered table-fixed table-sm sessionsonoffTab">
				<thead class="table-header">
					<tr>
					  <th scope="col"></th>
					  <th scope="col">Комната</th>
					  <th scope="col" title="Компания">К</th>
					  <th scope="col">Тариф</th>
	                  <th scope="col">Время начала</th>
					  <th scope="col">Время конца</th>
					  <th scope="col" title="Платные услуги">ПлУ</th>
					  <th scope="col" title="Бесплатные услуги">БесУ</th>
				      <th scope="col">Комментарий</th>
					  <th scope="col" title="Безналичная оплата">Карта</th>
						<th scope="col" title="Наличная оплата">Нал</th>
						<th scope="col" title="Сумма">$</th>
					</tr>
				</thead>
				<tbody id="wd_idOff">
					{% for record in sessionsOff %}
					<tr class="table-registry-tr" id="{{record.SID}}">
						<td class="SID"><p>{{record.SID}}</p></td>
						<td><p class="registryRoomP">{{ record.room.name_room}}</p></td>
						<td><p>{{record.company}}</p></td>
						<td><p class="registryTariffP">{{record.tariff.name_tariff}}</p></td>
						<td><p>{{record.start_dt}}</p></td>
						<td><p>{{record.end_dt}}</p></td>
						<td><p class="registryAddServsP" title="{{record.fullprice}} руб.">{{ record.fullservs }}</p></td>
						<td><p>{{ record.comservs }}</p></td>
						<td class="COM"><p>{{record.comment.text}}</p></td>
						{%if record.cardpay%}
						<td><p>{{record.cardpay}} руб.</p></td>
						{%else%}
						<td><p>-</p></td>
						{%endif%}
						{%if record.cashpay%}
						<td><p>{{record.cashpay}} руб.</p></td>
						{%else%}
						<td><p>-</p></td>
						{%endif%}
						<td class="SUM"><p>{{record.fullpay}} руб.</p></td>
					</tr>
					 {% endfor %}
				</tbody>
			</table>
		</div>
		</div>
		<div class="modal fade" id="helpAdminModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Внимание!</h4>
						</div>
						<div class="modal-body">
							<p>Истекает депозитное время некоторых посетителей:</p>
							<div id="depositSet">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
{%endblock%}

