{% load staticfiles %}
<div class="header">

	<div id="cash-population-auth" class="flex-div">
		<div id="cash-population">
			<p id="cash-population-1" class="headerp">В кассе: {{operatingCash.cash_sum_now}} р.</p>
			<p id="cash-population-2" class="headerp">Посетителей: {{countSessions}}</p>
		</div>
		<div class="Reserve_admin">
			{%if resAdm%}
			<a href="/admins/remove-reserved/" title="Убрать резервного админа"><img
					src="{% static 'img/minus.png' %}"></a>
			{%else%}
			<a href="/admins/add-reserved/{{request.user}}" title="Добавить резервного админа"><img
					src="{% static 'img/plus.png' %}"></a>
			{%endif%}
		</div>

		<div class="auth">
			<p class="headerp">Пользователь: {{ user.username }} {{resAdm}}</p>

			{%if admin_groups %}
			<div class="logout_or_shift_change">
				<a href="/admins/transfer/{{request.user}}" type="button" class="btn btn-secondary">Пересмена</a>
				<form id="cash-population-auth-button-logout" action="logout" method="post">
					{% csrf_token %}
					{{ form }}
					<button type="button" id="logout_button_simple" class="btn btn-secondary" data-toggle="modal"
						data-target="#modalDailyReport">Выйти
					</button>
				</form>
			</div>
			{%else%}

			<form id="cash-population-auth-button-logout" action="logout" method="post">
				{% csrf_token %}
				{{ form }}
				<button type="button" id="logout_button_simple" class="btn btn-secondary" data-toggle="modal"
					data-target="#modalDailyReport">Выйти
				</button>
			</form>
			{%endif%}
		</div>

	</div>

	<nav id="tabs_menu1">
		<div class="MainSelector"></div>
		<a href="/session/" class="tabs_menu1_tab">Сессии</a>
		<a href="/warehouse/" class="tabs_menu1_tab">Склад</a>
		<a href="/daycalendar/" class="tabs_menu1_tab">Календарь</a>
		<a href="/admins/" class="tabs_menu1_tab">Управление</a>
		<a href="/booking/" class="tabs_menu1_tab">Брони</a>
	</nav>
	<div class="modal fade" id="modalDailyReport" tabindex="-1" role="dialog" aria-labelledby="DailyReportModa"
		aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="content-modalDailyReport">
				<div class="modal-header">
					<h5 class="modal-title ml-auto" id="DailyReportModal">Отчет за день</h5>
					<!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button> -->
				</div>
				<div class="modal-body">
					<div class="form-group" style="display: block">
						<p id="dailyReport-customers"></p>

						<p id="dailyReport-cashIncome"></p>
						<p id="dailyReport-cardIncome"></p>
						<p id="dailyReport-admins"></p>

					</div>
					<div class="modal-footer">
						<a id="logout_button_modal" class="btn btn-secondary" href="/" type="button">Выйти</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>