{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Автоматизированное Рабочее Место "КАМЕНКА"</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/storage.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/registry.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/busyness_table_style.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/admins.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/booking.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/daterangepicker.min.css' %}" type="text/css" rel="stylesheet" />


</head>

<body>
	{%block header%}{%include "header.html"%}{%endblock%}
	{%block content%}{%endblock%}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/header.js' %}"></script>
	<script src="{% static 'js/dropdown.js' %}"></script>
	<script src="{% static 'js/newcalendar.js' %}"></script>
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/adminhelp.js' %}"></script>
	<script src="{% static 'js/locationmodal.js' %}"></script>
	<script src="{% static 'js/clickedTableCheckbox.js' %}"></script>
	<script src="{% static 'js/admins.js' %}"></script>
	<script src="{% static 'js/storage.js' %}"></script>
	<script src="{% static 'js/add-booking.js' %}"></script>
	<script src="{% static 'js/session-select.js' %}"></script>
	<script src="{% static 'js/jquery.daterangepicker.min.js' %}"></script>

</body>

</html>