<!DOCTYPE html>
<html>

<head>
  <title>Авторизация</title>
  <style>
    #loginForm {
      font-size: 24px;
      text-align: right;
      width: 50%;

    }

    #loginForm button {
      background: linear-gradient(21deg, #ab3326, darkorange);
      padding: 10px 40px;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
    }
  </style>
</head>

<body style="background:bisque; ">
  <form action="" method="post" id="loginForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
  </form>
</body>

</html>