{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Выбор смен</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/schedule.css' %}" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="table-responsive ">
		<h4 class="ml-4">Текущий план</h4>
		<table class="table table-bordered" id="currentFull" style="background: blue;">

			<thead class='table-header'>
				<tr id="currentFullHeader">
					<th></th>
					<th>Понедельник</th>
					<th>Вторник</th>
					<th>Среда</th>
					<th>Четверг</th>
					<th>Пятница</th>
					<th>Суббота</th>
					<th>Воскресенье</th>
				</tr>
			</thead>
			<tbody>
				<tr class="morning-shift">
					<th scope="row">Утро</th>
					{%for plan in planM%}
					<td id="M-{{plan.day.id}}" class="current-shift {{plan.myshift}}"
						style="background: {{plan.profile.color}}">{{plan.profile.user.username}}
					</td>
					{%endfor%}
				</tr>
				<tr class="evening-sfift">
					<th scope="row">Вечер</th>
					{%for plan in planE%}
					<td id="E-{{plan.day.id}}" class="current-shift {{plan.myshift}}"
						style="background: {{plan.profile.color}}">{{plan.profile.user.username}}
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%endfor%}
				</tr>
				<tr class="evening-2-shift">
					<th scope="row">Вечер-2</th>
					{%for plan in planR%}
					<td id="R-{{plan.day.id}}" class="current-shift {{plan.myshift}}"
						style="background: {{plan.profile.color}}" title="">{{plan.profile.user.username}}
						{%if plan.eveningActivity%}
						<img class="tolpa" src="/media/tolpa.png" title="Резервная смена активна!">
						{%else%}
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
						{%endif%}
					</td>
					{%endfor%}
				</tr>
			</tbody>
		</table>
		<div class="flex-div">
			<button class="btn btn-primary ml-1" id="scheduleFree"> Объявить вакантными</button>
			<button class="btn btn-primary ml-3" id="scheduleFreeOk"> Забрать себе вакантные</button>
		</div>
		{%if isSunday%}

		<h4 class="ml-4 mt-3">План на следующую неделю</h4>
		<table class="table table-bordered" id="nextFull" style="background: blue;">

			<thead class='table-header'>
				<tr id="nextFullHeader">
					<th></th>
					<th>Понедельник</th>
					<th>Вторник</th>
					<th>Среда</th>
					<th>Четверг</th>
					<th>Пятница</th>
					<th>Суббота</th>
					<th>Воскресенье</th>
				</tr>
			</thead>
			<tbody>
				<tr class="morning-shift">
					<th scope="row">Утро</th>
					{%for plan in planChangedM%}
					<td class="next-shift" style="background: {{plan.profile.color}}">{{plan.profile.user.username}}
					</td>
					{%endfor%}
				</tr>
				<tr class="evening-sfift">
					<th scope="row">Вечер</th>
					{%for plan in planChangedE%}
					<td class="next-shift" style="background: {{plan.profile.color}}">{{plan.profile.user.username}}
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%endfor%}
				</tr>
				<tr class="evening-2-shift">
					<th scope="row">Вечер-2</th>
					{%for plan in planChangedR%}
					<td class="next-shift" style="background: {{plan.profile.color}}">{{plan.profile.user.username}}
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%endfor%}
				</tr>
			</tbody>
		</table>


		{%else%}
		<h4 class="ml-4">Выбор плана на следующую неделю</h4>
		<table class="table table-bordered" style="background: blue;" id="teamChange">

			<thead class='table-header'>
				<tr id="teamChangeHeader">
					<th></th>
					<th>Понедельник</th>
					<th>Вторник</th>
					<th>Среда</th>
					<th>Четверг</th>
					<th>Пятница</th>
					<th>Суббота</th>
					<th>Воскресенье</th>
				</tr>
			</thead>
			<tbody>
				<tr class="morning-shift">
					<th scope="row">Утро</th>
					{%for p in prefsM%}
					{%if p.pref == "+"%}
					<td class="schedule-shift nice-time"></td>
					{%elif p.pref == "-"%}
					<td class="schedule-shift bad-time"></td>
					{%else%}
					<td class="schedule-shift"></td>
					{%endif%}
					{%endfor%}
				</tr>
				<tr class="evening-shift">
					<th scope="row">Вечер</th>
					{%for p in prefsE%}
					{%if p.pref == "+"%}
					<td class="schedule-shift nice-time">
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%elif p.pref == "-"%}
					<td class="schedule-shift bad-time">
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%else%}
					<td class="schedule-shift">
						{%if plan.isPreHoliday%}
						<img class="confetti" src="/media/confetti.png"
							title="Предпраздничный день. Конец смены в {{weekendTime}}">
						{%endif%}
					</td>
					{%endif%}


					{%endfor%}
				</tr>
			</tbody>
		</table>
		<div class="flex-div" style="width: 100%;">
			<button class="btn btn-primary ml-1" id="scheduleSave"> Сохранить</button>
		</div>
		{%endif%}
		<table class="table table-bordered table-sm table-hover mt-4" id="userSalaryInfoTable">
			<thead class="table-header gradiented ">
				<tr>
					<th scope="col">Тип</th>
					<th scope="col">Начало</th>
					<th scope="col">Конец</th>
					<th scope="col">Часов</th>
					<th scope="col" title="Базовая сумма">База</th>
					<th scope="col" title="Бонусная сумма">Бонус</th>
					<th scope="col">Комментарий</th>
				</tr>
			</thead>
			<tbody>
				{%for s in salary%}
				<tr class="premiumTableContetntTr">
					<td class="premiumTableContetnt-typeTD">{{s.record_type}}</td>
					<td>{{s.datetime_start | date:"d-m-y h:i"}}</td>
					<td>{{s.datetime_end | date:"d-m-y h:i"}}</td>
					<td>{% if s.record_type == "Рабочая смена" or s.record_type == "Сверхурочно" %}{{ s.amount}}{% endif %}
					</td>
					<td>{% if s.record_type == "Рабочая смена" or s.record_type == "Сверхурочно" or s.record_type == "Выдача зарплаты" or s.record_type == "Выдача аванса"%}{{s.BaseSum}}{% endif %}
					</td>
					<td>{% if s.record_type == "Рабочая смена" or s.record_type == "Сверхурочно" or s.record_type == "Выдача премии"%}{{s.BonusSum}}{% endif %}
					</td>
					<td>{{s.comment}}</td>

				</tr>
				{%endfor%}
				{%for p in premium%}
				<tr class="premiumTableContetntTr">
					<td class="premiumTableContetnt-typeTD">{{p.type}}</td>
					<td>{{p.date | date:"d-m-y "}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ p.amount}}</td>
					<td>{{p.comment}}</td>

				</tr>
				{%endfor%}
				<tr>
					<td>Общая</td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{BaseSum}}</td>
					<td>{{BonusSum}}</td>
					<td>{{totalSum}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/schedule.js' %}"></script>
</body>

</html>