#table-booking td p {
    margin: auto;
    margin-top: 5px;
}

.form-group {
    display: flex;
}

.rightPos {
    position: absolute;
    width: 275px;
    height: 30px;
    right: 20px;
}

#table-booking th {
    position: sticky;
    z-index: 1;
    background: #0000FF;
    top: 68px;
}

.eventsBooking {
    display: flex;
}

#table-booking {
    width: 100%;
    position: absolute;
    top: 68px;
    font-size: 14px;
}

#table-booking-header {
    margin: auto;
    width: 100%;
    display: flex;
    height: 30px;
    background: -webkit-linear-gradient(291deg, #ab3326, darkorange);
    background: -o-linear-gradient(291deg, #ab3326, darkorange);
    background: linear-gradient(21deg, #ab3326, darkorange);
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: 700;
    line-height: normal;
    font-size: 18px;
}

.table-booking-td {
    border-right: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
    height: 100%;
    display: flex;
    width: 25%;
}

.table-booking-td p {
    margin: auto auto;
    font-size: 14px;
    font-family: 'Roboto Slab normal';
}

.table-booking-content {
    width: 100%;
    background: bisque;
}

.table-booking-add {
    display: flex;
    margin-top: 10px;
    position: absolute;
    top: 74px;
}

.table-booking-add span {
    font-family: 'Roboto Slab normal';
}

.table-booking-add button {
    margin-left: 20px;
    font-family: 'Roboto Slab normal';
}

.table-booking-add input {
    height: 100%;
    font-family: 'Roboto Slab normal';
    width: 280px;
}

.table-booking-add select {
    width: 180px!important;
}

.smallBookingInp {
    width: 150px!important;
}

.delBookingBtn, .sesBookingBtn {
    border: none;
    background: transparent;
}

.delBookingBtn img, .sesBookingBtn img {
    width: 40px;
    height: 40px;
}

.leftBooking {
    padding-left: 115px;
}

.payBookingImg img, .sesBookingImg img {
    width: 40 px;
    height: 40px;
}

#pay_booking_window {
    display: flex;
    position: fixed;
    top: 310px;
    right: 26%;
    width: 400px;
    height: 280px;
    background: antiquewhite;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

#pay_booking_window div {
    display: flex;
}

#cashBookingPay {
    width: 100%;
}

#inputBooking {
    width: 200px;
    height: 42px;
}

.depositBooking {
    width: 22px;
    height: 22px;
}

#dataCalendar {
    width: 215px;
}

#table-booking th {
    color: #fff;
}

#booking-form-Button {
    position: absolute;
    color: white;
    background: blue;
    margin-left: 260px;
}

#modalAddingBooking {
    height: 1150px;
}

#content-modalAddingBooking {
    top: 50px;
    height: 1760px;
}

#content-modalAddingBooking .modal-header {
    background: blue;
    color: white;
}

#content-modalAddingBooking input {
    margin-left: 10px;
}

#id_start_booking, #id_time_start, #id_time_end, #id_duration, #id_number_of_persons {
    background: linear-gradient(21deg, #0000FF, #7FFFD4);
    border-radius: 9999em;
    color: white;
    text-align: center;
}

#bookingdelBtn {
    background: red;
}

#bookingactBtn {
    background: green;
}