.header {
  width: 100%;
  color: black;
  position: fixed;
  z-index: 9999;
  top: 0px;
  border-bottom: 2px solid #00FF;
  background: #e0eaff;
}

.Reserve_admin {
  margin-top: 26px;
  margin-right: 5px;
}

.Reserve_admin img {
  width: 40px;
  height: 40px;
}

#cash-population-auth {
  position: absolute;
  right: 50px;
  top: 0px;
}

#cash-population {
  margin-right: 10px;
}

.headerp {
  margin: 0 3px 3px 3px;
  padding: 0;
  text-align: left;
  font-family: 'Roboto Slab normal';
  font-size: 16px;
}

#tabs_menu1 .MainSelector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: -webkit-linear-gradient(291deg, #0000FF, #7FFFD4);
  background: -o-linear-gradient(291deg, #0000FF, #7FFFD4);
  background: linear-gradient(21deg, #0000FF, #7FFFD4);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab3326', endColorstr='darkorange', GradientType=1);
}

#logout_button {
  position: absolute;
  top: 50px;
}

.exit_form {
  margin-top: 50px;
}

.modal_exit_simple {
  width: 250px;
  height: 150px;
  margin: auto;
  text-align: center;
}

.exit {
  max-width: 600px;
  margin: auto;
}

.modal_exit_simple span {
  font-family: 'Roboto Slab normal';
  font-size: 18px;
}

.logout_or_shift_change {
  display: flex;
}

.logout_or_shift_change a {
  margin-right: 10px;
}

#tabs_menu1 {
  margin: 10px 20px;
  padding-bottom: :5px;
  list-style: none;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  border-image: linear-gradient(21deg, #ab3326, darkorange);
}

#tabs_menu1 a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

#tabs_menu1 a.active {
  color: #fff;
}

.tabs_menu1_tab {
  font-family: 'Roboto Slab normal';
  font-size: 18px;
}