
{%extends "index.html"%}
{% load staticfiles %}
{% load bootstrap3 %}

{%block content%}
<th id="booking" class="module">


	<div class="modal fade" id="modalAddingBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content" id="content-modalAddingBooking">
		  <div class="modal-header">
			<h5 class="modal-title ml-auto" id="exampleModalLongTitle">Новая бронь</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
				<form method="POST" class="booking-form">
					{% csrf_token %}
					{% bootstrap_form formBooking%}
					{% buttons %}
					<div id="buttonsMenuForm">
					<button type="button" id="bookingdelBtn" class="btn btn-primary">
					  {% bootstrap_icon "star" %} Удалить
					</button>
					<button type="button" id="bookingactBtn" class="ml-1 btn btn-primary">
					  {% bootstrap_icon "star" %} Активировать
					</button>
					<button type="submit" class="btn btn-primary ml-1">
					  {% bootstrap_icon "star" %} Сохранить
					</button>
					<button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">Закрыть</button>

					</div>

				  {% endbuttons %}
				</form>
		  </div>

		</div>
	  </div>
	</div>

	<table id="table-booking" class="table table-bordered table-fixed table-sm table-hover">
		<thead id="table-header">
			<tr>
				<th scope="col">Комната</th>
				<th scope="col" title="Количество людей">КЛ</th>
				<th scope="col">Тариф</th>
				<th scope="col" title="Дата брони">ДБ</th>
				<th scope="col" title="Начало брони">НБ</th>
				<th scope="col" title="Конец брони">КБ</th>
				<th scope="col">Информация о брони</th>
				<th scope="col" title="Сумма депозита">СД</th>
			</tr>
		</thead>
		<tbody class="table-booking-content">
			{% for book in booking %}
			<tr id="{{book.id}}">
			<td><p>{{ book.room.name_room}}</p></td>
			<td class="table-booking-content-td"><p>{{book.number_of_persons}}</p></td>
			<td><p>{{book.tariff.name_tariff}}</p></td>
			<td><p>{{book.start_booking}}</p></td>
			<td><p>{{book.time_start}}</p></td>
			<td><p>{{book.time_end}}</p></td>
			<td><p>
				{%if book.name%} {{book.name}}{%endif%}{%if book.phone%}, {{book.phone}}<br> {%endif%}
				{%if book.comment%} {%if book.comment.text%}{{book.comment.text}} <br>{%endif%}{%endif%}
				{{book.dop}}
			</p></td>
			<td id="dep-{{book.id}}"><p>{{book.d}} руб.</p></td>
			</tr>
		{% endfor %}
			</tbody>
	</table>
</div>
{%endblock%}