{%extends "index.html"%}
{%load bootstrap3%}
{%block content%}
<div class="module">
  <div class="modal fade" id="modalAddingOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="content-modalAddingOrder">
        <div class="modal-header">
          <h5 class="modal-title ml-auto" id="exampleModalLongTitle">Новый ордер ({{request.user}})</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="order-form">
            {% csrf_token %}
            {% bootstrap_form formNewOrder%}
            {% buttons %}
            <button type="submit" class="btn btn-primary mr-1">
              {% bootstrap_icon "star" %} Сохранить
            </button>
            <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Закрыть</button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalPremiumFine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="content-modalPremiumFine">
        <div class="modal-header">
          <h5 class="modal-title ml-auto" id="exampleModalLongTitle">Премии/Штрафы</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="order-form">
            {% csrf_token %}
            {% bootstrap_form formPremiumFine%}
            {% buttons %}
            <button type="submit" class="btn btn-primary mr-1">
              {% bootstrap_icon "star" %} Сохранить
            </button>
            <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Закрыть</button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="adminsmenu">
    <nav id="adminsTabsMenu">
      <div class="adminsSelector gradiented"></div>
      <a href="#" class="admins_tab active">Касса</a>
      <a href="#" class="admins_tab">Таблица выходных</a>
      <a href="/schedule/" class="adminsTabsMenu_tab">Выбор смен</a>
      {%if director%}
      <a href="#modalPremiumFine" class="adminsTabsMenu_tab" data-toggle="modal">Премии/Штрафы</a>
      {%endif%}
    </nav>
  </div>
  <div id="admins-tools">
    <div id="cashreg-tool" class="admins-tool flex-div">
      {% csrf_token %}

      <a href="#modalAddingOrder" class="btn btn-primary openNameModalbtn" data-toggle="modal">Добавить</a>
      <div class="select-box">
        <select id="cashreg-selects-category">
          <option value="hide">Все категории</option>
          {%for cat in cats%}
          <option value={{cat.name}}>{{cat.name}}</option>
          {%endfor%}
        </select></div>
      <div class="select-box">
        <select id="cashreg-selects-subcategory">
          <option value="hide">Все операции</option>
          {%for subcat in subs%}
          <option value={{subcat.name}}>{{subcat.name}}</option>
          {%endfor%}
        </select></div>
      <div class="select-box">
        <select id="cashreg-selects-users">
          <option value="hide">Все исполнители</option>
          {%for u in userList%}
          <option value={{u.user.username}}>{{u.user.username}}</option>
          {%endfor%}
        </select></div>
      <button type="button" class="btn openNameModalbtn gradiented" data-toggle="modal"
        data-target="#cashregperiodModal">Период
      </button>
    </div>
  </div>

  <div id="adminsTabs" class="table-responsive-md">
    <table id="cashregperiodTable" class="table table-bordered table-sm table-hover adminsTab active">
      <thead class="table-header gradiented ">
        <th scope="col">Сотрудник</th>
        <th scope="col">Дата</th>
        <th scope="col">Тип</th>
        <th scope="col">Операция</th>
        <th scope="col">Подробнее</th>
        <th scope="col">Сумма</th>
        <th scope="col">Комментарий</th>
      </thead>
      <tbody>
        {%for order in orders%}
        <tr class="table-cash-content-tr">
          <td class="table-cash-content-tr-profile">{{order.admin.user.username}}</td>
          <td class="table-cash-content-tr-date">{{order.date}}</td>
          <td class="table-cash-content-tr-type">{{order.type}}</td>
          <td class="table-cash-content-tr-operation">{{order.name.moneyoper.name}}</td>
          <td class="table-cash-content-tr-detailed">{{order.name.name}}</td>
          <td class="table-cash-content-tr-sum">{{order.amount}} руб.</td>
          <td class="table-cash-content-tr-comment">{{order.comment}}</td>
        </tr>
        {%endfor%}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Общая сумма: </td>
          <td id="cashregTotalSum"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table id="table-weekends" class="table table-bordered table-sm table-hover adminsTab">
      <thead class="gradiented table-header">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Дата</th>
        </tr>
      </thead>
      <tbody>
        {%for w in weekends%}
        <tr>
          <td>{{w.name}}</td>
          <td>{{w.date}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="cashregperiodModal" tabindex="-1" role="dialog" aria-labelledby="cashregPeriodModalLabel"
    aria-hidden="true">
    <div class="modal-dialog wrhsModal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cashregPeriodModalLabel">Выберите период</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% csrf_token %}

        <div class="modal-body">
          <div class="form-group flex-div">
            <p class="periodp">Начало</p>
            <input class=" wrhsModalInput" id="cashregPeriod_start" type="date">
            <p class="periodp">Конец</p>
            <input class="  wrhsModalInput" id="cashregPeriod_end" type="date">
          </div>
          <div class="modal-footer">
            <input type="submit" value="Подтвердить" class="btn btn-secondary ml-5 wthsModalBtn" id="cashregPeriodBtn"
              data-dismiss="modal">
            <button type="button" class="btn btn-secondary  ml-1 closeButtonTablet"
              data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{%endblock%}